body {
	background:#999;
	font-family: arial;
}

h1, h2, li, a {
	color: #666;
}

p {
	background: #666;
	color: white;
	padding: 10px 0px 100px 50px;
}

.secondary {
	background: blue;
}

#special {
	background: purple;
}

img {
	height: auto;
	width: 500;
}